const startBtn = document.getElementById("start-btn");
const startScreen = document.getElementById("start-screen");
const mainContent = document.getElementById("main-content");
const music = document.getElementById("bg-music");

startBtn.addEventListener("click", () => {

    // Reproducir música
    music.play();

    // Transición suave
    startScreen.style.opacity = "0";

    setTimeout(() => {
        startScreen.classList.add("hidden");
        mainContent.classList.remove("hidden");

        setTimeout(() => {
            mainContent.style.opacity = "1";
        }, 100);

    }, 1500);
});}
